# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private
docroot/sites/*/services.local.yml
docroot/sites/*/settings.local.php

/.editorconfig
/.gitattributes

.idea

*.sql.gz
